@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>We are trying to understand the engineering issues that allow remote users to interact with remote environments. There are two main focuses on these issues, allowing users to control the remote environment and allowing users to visual the remote environment. Our project will focus on the latter.</p>
