@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Eric Fleming</strong>   <a href="mailto:edf16@zips.uakron.edu">edf16@zips.uakron.edu</a><br />
    <strong>Jeffrey Syme</strong> <a href="mailto:jjs105@zips.uakron.edu">jjs105@zips.uakron.edu</a><br />
    <strong>Abdulaziz Aljohani</strong> <a href="mailto:aba10@zips.uakron.edu">aba10@zips.uakron.edu</a><br />
    <strong>Patrick Morley</strong> <a href="mailto:pjm39@zips.uakron.edu">pjm39@zips.uakron.edu</a><br />
</address>